html,body {
    height: 100%;
    font-family:"Microsoft Yahei";
    background-color: #FFCC00;
}
.container{
    position: relative;
    height: 100%;
    min-height: 100%;
}
.v-center{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
.full{
    position:relative;
    min-height: 100%;
}
.yellow{
    background-color: #ffff00;
}
.green{
    background-color: green;
}
.white{
    background-color: azure;
}
.zh-yellow{
    background-color: #FFCC00;
}